{% extends "./base.html" %}
{% block title %} Gestion Pacientes {% endblock %}
{% block body %}
<br>
<br>
<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
           <h2> Gestion de Pacientes </h2>
             <div class="card">
                 <div class="card-body">
                    <form action="/registrapaciente/" method="post">{% csrf_token %}
                        <div   class="form-group">
                            <input type="text" id="numcc" name="numcc" class="form-control"
                             placeholder="Cedula" minlength="10" maxlength="10" required>
                        </div>
                        <br>
                        <div   class="form-group">
                            <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                              maxlength="70" placeholder="Nombre" >
                        </div>
                        <br>
                        <div   class="form-group">
                            <input type="text" id="txthistoriaclinica" name="txthistoriaclinica" class="form-control"
                            placeholder="Historia Clinica" maxlength="50" size="50" required>
                        </div>
                        <br>
                        <div   class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>


                    </form>
                     
                 </div>
             </div> 
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
             <h1>Listado de Pacientes</h1>

            <div class="table-responsive">

                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Historia clinica</th>
                            <th colspan="2">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for c in pacientes%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.cc}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.historiaclinica}}</td>
                            <td><a href="editarPaciente/{{c.cc}}" class=" btn btn-info">Editar</a></td>
                            <td><a href="eliminarPaciente/{{c.cc}}" class=" btn btn-danger  btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            
        </div>

   
</div>

  </form>

{% endblock %}