{% extends "./base.html" %}
{% block title %} Gestion Pacientes {% endblock %}
{% block body %}
<br>
<br>
<div class="row">
    <div class="col">
        <div class="border border-1" style="width: 100%; padding: 20px; text-align: left;">
            <h2>Gestion de Pacientes</h2>
            <p>Este es un ejemplo de texto dentro del cuerpo de la tarjeta. Puedes agregar cualquier contenido aquí.</p>
            <a href="{% url 'historiaclinica' %}"  class="btn btn-primary" style="text-align: right;">Nueva Historia Clinica</a>
        
        </div>
    </div>
</div>
<br>
<form method="GET" action="{% url 'gestion_pacientes' %}" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="q" class="form-control" placeholder="Buscar paciente" value="{{ request.GET.q }}">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<div class="col">
    <h1>Listado de Pacientes</h1>
    {% if request.GET.q %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#user</th>
                    <th>#HC</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Fecha de Creacion </th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in pacientes %}
                <tr>
                    <td>{{ c.id_user }}</td>
                    <td>{{ c.num_historiaclinica }}</td>
                    <td>{{ c.cc }}</td>
                    <td>{{ c.nombre }} {{ c.apellidos }}</td>
                    <td>{{ c.fechaCreacion }}</td>
                    <td><a href="{% url 'editar_paciente' c.cc %}" class="btn btn-info">Editar</a></td>
                    <td><a href="{% url 'evoluciones' c.cc %}" class="btn btn-info">Evolución</a></td>
                    <td><a href="#" class="btn btn-info">Descargar PDF</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
         <p>Utilice el buscador para encontrar pacientes.</p>
    {% endif %}
</div>

{% endblock %}